.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* From here the actual css starts */
* {
  box-sizing: border-box;
  /* background-color: #dce5e9; */
}
.add-btn,
.logout-btn {
  margin: 5px;
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.3rem;
  color: black;
  background-color: #7ab2b2;
  border: 2px solid #cde8e5;
  cursor: pointer;
  font-weight: bolder;
  transition: 300ms ease-in 50ms;
}
.add-btn:hover,
.logout-btn:hover {
  background-color: #4d869c;
  /* transition: 1s linear ease-in; */
}
.left-panel {
  height: 92vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.left-panel-element {
  border: none;
  background-color: transparent;
  font-weight: bolder;
  text-align: left;
  width: 20vw;
  overflow-x: hidden;
  padding: 0.25rem;
}
.active-left-panel-element {
  background-color: #e5ddc5;
  border-radius: 0.25rem;
}
.left-panel-element:hover {
  /* margin: 5px; */
  /* margin: 0.5rem; */
  text-align: left;
  width: 20vw;
  overflow-x: hidden;
  padding: 0.25rem;
  border-radius: 0.25rem;
  color: black;
  background-color: #e5ddc5;
  /* border: 2px solid #b3c8cf; */
  cursor: pointer;
  font-weight: bolder;
  transition: 100ms ease-in 50ms;
}
.input-field {
  outline: none;
  border: 0px solid;
  width: 100%;
  margin-bottom: 10px;
  background: transparent;
}
.textarea {
  width: 100%;
  background: transparent;
  border: 0px solid;
  outline: none;
  resize: none;
  height: 67vh;
}
.textarea body::-webkit-scrollbar {
  display: none;
}

.notes-display {
  margin: 10px;
  border-left: 2px solid black;
  padding-left: 20px;
  height: 96h;
  overflow-x: hidden;
  overflow-y: auto;
}
.save-delete-container {
  width: 70vw;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
.btn {
  margin: 5px;
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  color: black;
  background-color: aqua;
  border: 2px solid blue;
  cursor: pointer;
  font-weight: bolder;
}
.title-input {
  font-size: 20px;
}

label {
  font-size: 20px;
  margin-bottom: 20px;
}
